@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #999999 transparent;
}

/* For Google Chrome and others */
.sidebar::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8d8d8d;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #8d8d8d;
  border-radius: 5px;
}

.radius {
  border-radius: 5px 30px 5px 30px;
}
.radius1 {
  border-radius: 5px 30px 30px 30px;
}
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

body {
  margin: 0;
  font-family: var(--font-karla), sans-serif;
  overflow: scroll;
}

.bg-blue-100 {
  background-color: #ebf8ff; /* Light blue background for drop target */
}
